.square {
  background: white;
  border: 2px solid grey;
  float: left;
  font-size: 54px;
  /*font-weight: bold;*/
  line-height: 64px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
  cursor: pointer;
  user-select: none;
}
